<div class="product-values marged-v">
    <div class="row">
        <div class="col-xs-12 col-sm-4 text-center product-values-block">
            <i class="fa fa-check-circle fa-3x"></i>
            <h2 class="text-center">Gratuit</h2>
            <p>Gérez votre comptabilité de stand en ligne sans dépenser un rond. Plus besoin de transporter un
                inventaire et des feuilles de calcul faites à l'arrache.</p>
        </div>
        <div class="col-xs-12 col-sm-4 text-center product-values-block">
            <i class="fa fa-random fa-3x"></i>
            <h2>Flexible</h2>
            <p>Modifiez vos produits à la volée, soyez plusieurs à gérer la caisse si vous le souhaitez, changez de
                responsable en cours de journée. Créez plusieurs produits juste en écrivant leur nom avec l'interface
                d'importation simplifiée.</p>
        </div>
        <div class="col-xs-12 col-sm-4 text-center product-values-block">
            <i class="fa fa-truck fa-3x"></i>
            <h2>Portable</h2>
            <p>Fait pour être utilisé sur les marchés et les salons. Votre gestion des stocks n'en sera que
                simplifiée.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 text-center product-values-block">
            <i class="fa fa-rotate-left fa-3x"></i>

            <h2>Open Source</h2>
            <p>Auto hébergeable et modifiable à volonté. Sources disponible sur
                <a href="https://gitlab.com/tykayn1/fanzine-log">gitlab.</a>
                Développé par
                <a href="https://www.cipherbliss.com">CipherBliss</a>
                .
            </p>
        </div>
        <div class="col-xs-12 col-sm-4 text-center product-values-block">
            <i class="fa fa-pie-chart fa-3x"></i>
            <h2>Statistiques</h2>
            <p>Données statistiques et gestion des stocks actualisée au fur et à mesure des ventes.</p>
        </div>
        <div class="col-xs-12 col-sm-4 text-center product-values-block">
            <i class="fa fa-heart-o fa-3x"></i>
            <h2>Data Love</h2>
            <p>Données exportables et importables en masse librement.</p>
        </div>
    </div>
</div>
