<div class="header-block ">
    <div class="nav navbar-inverse padded">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">


                    {% include 'default/login-choices.html.twig' %}
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-xs-12">

                    {% if app.request.hasPreviousSession %}
                        {% for type, messages in app.session.flashBag.all %}
                            {% for message in messages %}
                                <div class="{{ type }}">
                                    {{ message|trans({}, 'FOSUserBundle') }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    <div>
                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
