{% trans_default_domain 'FOSUserBundle' %}
{% block loginchoices %}
    <div class="loginland  ">

        <div class="login-choices">

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="row">
                    <div class="col-xs-9">
                        <div id="menu-dashboard">
                            <ul class="nav nav-pills pull-right">
                                <li>
                                    <a href="{{ path('homepage') }}" class="btn btn-default logo-home pull-left">
                                        <i class="fa fa-home"></i>
                                        Caisse Bliss
                                    </a>
                                </li>
                                <li>
                                    <a class="btn {% if app.request.attributes.get('_route') == 'dashboard' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %}" href="{{ path('dashboard') }}">
                                        <i class="fa fa-list"></i>
                                        Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a class="btn {% if app.request.attributes.get('_route') == 'productcategory_index' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %} "
                                            href="{{ path('productcategory_index') }}">
                                        <i class="fa fa-file-archive-o"></i>
                                        Catégories

                                        <span class="badge">
                                            {{ app.user.categories|length }}
                                            </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn {% if app.request.attributes.get('_route') == 'product_index' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %} "
                                            href="{{ path('product_index') }}"
                                    >
                                        <i class="fa fa-gears"></i>
                                        Produits
                                        <span class="badge">
                                                {{ app.user.products|length }}
                                            </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn {% if app.request.attributes.get('_route') == 'festival_index' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %}
                                        " href='{{ path('festival_index') }}'
                                    >
                                        <i class="fa fa-th-large"></i>
                                        Festivals
                                        <span class="badge">
                                            {{ app.user.festivals|length }}
                                            </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn {% if app.request.attributes.get('_route') == 'history' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %}" href="{{ path('history') }}"
                                    >
                                        <i class="fa fa-clock-o"></i>
                                        Historique
                                    </a>
                                </li>
                                <li>

                                    <a class="btn {% if app.request.attributes.get('_route') == 'import' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %}" href="{{ path('import') }}"
                                            >
                                        <i class="fa fa-arrow-circle-o-up"></i>
                                        Import
                                    </a>
                                </li>
                                <li>

                                    <a class="btn {% if app.request.attributes.get('_route') == 'previsionnel' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %}" href="{{ path('previsionnel') }}"
                                            >
                                        <i class="fa fa-arrow-circle-o-up"></i>
                                        Prévisionnel
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-3 text-right">
                        Bonjour
                        <a href="{{ path('fos_user_profile_edit') }}">

                            <i class="fa fa-user"></i>
                            {{ app.user.username }}

                        </a>
                        |
                        <a class="btn btn-default" href="{{ path('fos_user_security_logout') }}">
                            Déconnexion
                        </a>
                    </div>
                </div>


            {% else %}


                <div class="text-right pull-right">
                    <a class="btn btn-primary"
                            href="{{ path('fos_user_security_login') }}">
                        <i class="fa fa-key"></i>
                        {{ 'layout.login'|trans }}</a>
                    <a class="btn btn-default"
                            href="{{ path('fos_user_registration_register') }}">Inscription
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock loginchoices %}
