#caisse-now {
  .product-box {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    float: left;
  }
  .product-button {
    width: 80%;
    text-overflow-ellipsis: "...";
  }
  .listing-products {

    .btn, button {
      font-size: 1.6rem;
      background: white;
      padding: 1.5rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      border-radius: 1rem;
      border-color: $all-text-color;
      box-shadow: 5px 3px 10px 2px #ddd;
      border-width: 0;
      &.btn-primary {
        background-color: $deepblue;
      }
      &:hover {
        background: $lightblue;
      }
    }
    .badge-default {
      background: $lightblue;
    }
    .badge-success {
      background: mix(green, $lightblue);
    }
  }

}

// container of categories
.horizontal-land {
  overflow-x: auto;
  overflow-y: hidden;
  //width: 100%;
  height: 80vh;
  background: #ccc;
  padding: 0.5rem;
}

// list of one category
.one-category {
  background: #dedede;
  width: 350px;
  margin: 0 4px;
  height: calc(80vh - 1rem);
  box-sizing: border-box;
  display: inline-block;
  //vertical-align: top;
  white-space: nowrap;
  //float: left;
}
.category-listing{
  border: solid 1px $grey;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
}
.validate_selling {
  margin: 0.25rem;
}
.product-listing{
  height: 70vh;
  overflow: auto;
}
