@import '../split/custom_vars';

body {
  color: $all-text-color;
  font-family: "Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 2rem;
}

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.25);
  border-color: #090909;
}

#wrapper {
  min-height: 100vh;
}

.main-screen {
  min-height: 80vh;
}

.bg-dark {
  background: rgba(0, 0, 0, 0.5);
}

.bg-shader {
  @extend .bg-dark;
  height: 100vh;
}

.bg-img {
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  min-height: 100vh;
}

.bg-accessories {
  @extend .bg-img;
  background-image: url('../../img/accessories.jpg');
}

.bg-girl {
  @extend .bg-img;
  background-image: url('../../img/girl_computer.jpg');
}

.bg-color {
  background: $deepblue;
  color: $light;
  a {
    color: $lightblue;
  }
  padding: 1rem;
}

.logo-main {
  color: $logo-color;
}

.big-footer {
  background: $dark;
  color: $light;
  height: 4em;
  padding: 1em;
  box-sizing: border-box;
}

thead {
  background: $dark;
  color: $light;
}

ul {
  padding: 0;
}

label {
  min-width: 20em;
  display: inline-block;
}

.try {
  margin: 0 auto;
}

.padded {
  padding: 1rem;
  &-v {
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.marged {
  margin: 1rem;
  &-v {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.bgwarning {
  background: orange;
  color: #ee5555;
}

.bgdanger {
  background: indianred;
  color: #333;
  font-weight: bold;
}

.bgsuccess {
  background: greenyellow;
  color: #000000;
}

.previsionnel {
  .config {
    font-size: 1.5rem;
  }
  thead {
    font-size: 1.5rem;
  }
  label {
    min-width: 220px;
  }
  .exepanse-table {
    font-size: 1.5rem;
  }
  .examples-depenses {
    font-size: 1.5rem;
  }
  .big-number {
    font-size: 2.5rem;
    color: #2B2d42;
  }
}