{% verbatim %}
<div class="current-selling" >

<form >

    <h2>

        Festival:
        <span class="badge" title="fond de caisse + chiffre d'affaire. veillez à vider votre fond de caisse ailleurs lorsqu'il devient trop important, par exemple au dela de 200€" ng-class="{'badge-warning': activeFestival.fondDeCaisseAvant + activeFestival.chiffreAffaire > 200}">
        <i class="fa fa-archive"></i>
        {{ activeFestival.fondDeCaisseAvant + activeFestival.chiffreAffaire}} €
</span>
         <span class="badge badge-success">CA {{ activeFestival.chiffreAffaire }} €
         <span ng-if="sellingOk">
         <i class="fa fa-check-circle-o"></i>
</span>
         </span>
         <span class="badge badge-success">{{ activeFestival.clientsCount }} <i class="fa fa-user"></i></span>
         </h2>
        <input type="text" ng-model="activeFestival.name" placeholder="nom du festival">
        <input type="text" ng-model="activeFestival.commentaire" placeholder="commentaire">
        <hr>


       <div>
       <div class="row-fluid">

            </div>
       </div>





        </div>
        <hr>
            <div ng-repeat="p in activeSelling track by $index">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group">
                            <input type="text" ng-model="p.name">
                            <span class="btn btn-warning input-group-addon remove-item"
                                    ng-click="removeProduct(p,$index)">
                                <i class="fa fa-trash"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-right">
                        <strong>
                            <input type="number" ng-model="p.price">
                            € </strong>
                    </div>
                </div>
            </div>
        <div class="text-right">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3>Total: </h3>
                </div>
                <div class="col-xs-12 col-sm-6">
                <h3>
                <strong>

                {{ CurrentSellingTotal() }} </strong>€
                </h3>
            </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    Le client paie:
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input type="number" id="paid_amount" ng-model="paidAmount">
                </div>
            </div>
            <div class="alert alert-success" ng-if="paidAmount && CurrentSellingTotal() - paidAmount <=0">
                <h3>Rendu: {{ -1*(CurrentSellingTotal() - paidAmount) }} €</h3>
            </div>
            <div class="alert alert-warning" ng-if="paidAmount && CurrentSellingTotal() - paidAmount >0">
                <h3>il manque: {{ CurrentSellingTotal() - paidAmount }} €</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% endverbatim %}
    {% include 'logged/angular/validate-button.html.twig' %}
{% verbatim %}
            </div>
            <!--<div class="col">-->
                <!--<button class="btn btn-default" id="pause_selling" ng-click="pauseSelling()">-->
                    <!--<i class="fa fa-clock"></i>-->
                    <!--Pause-->
                <!--</button>-->
            <!--</div>-->
        </div>

</form>
    <hr>
</div>


{% endverbatim %}

