<!--ok loading done-->
<div id="loaded" ng-if="initLoadDone">


    <!--caisse IHM-->
    <div id="load_ok">

        <div class="listing-products col-xs-12 col-sm-12">
            {% include 'logged/angular/messages.html.twig' %}
            {% include 'logged/angular/listing-products.html.twig' %}

        </div>
        <div class="sellings col-xs-12 col-sm-12">
            <div class="well" ng-class="{'bg-success text-success': sellingOk }">

                {% include 'logged/angular/validate-button.html.twig' %}
                {% if app.user.products |length %}
                    {% include 'logged/angular/current.html.twig' %}
                {% endif %}

                {#{% include 'logged/angular/paused.html.twig' %}#}
            </div>
        </div>
    </div>
    <div id="other_time">
        {% include 'logged/angular/recent.html.twig' %}
    </div>
</div>
