{% verbatim %}
<div id="messages">
    <div id="no-categories" class="alert alert-info" ng-if="!categories.length">
        <i class="fa fa-info"></i>
        Vous n'avez pas encore enregistré de <strong>catégorie de produit</strong>, ajoutez-en donc.
    </div>
    <div id="no-products" class="alert alert-info" ng-if="!productsFromDB.length">
        <i class="fa fa-info"></i>
        Vous n'avez pas encore enregistré de <strong>produit</strong>, ajoutez-en donc.
    </div>
    {% endverbatim %}
<div>


    {% if app.user.activeFestival is null %}
        <div id="no-products" class="alert alert-info" ng-if="!productsFromDB.length">
            <i class="fa fa-info"></i>
            Sélectionnez un <strong>festival</strong> pour grouper vos ventes clients par évènement.
        </div>
    {% endif %}

</div>

{% if not (app.user.products |length) %}
    <div class="alert alert-info" ng-if="!productsFromDB.length && initLoadDone">

        <i class="fa fa-info"></i>
        Créez facilement vos catégories de produits et vos produits juste en écrivant un nom par ligne dans

        <a class="link" href="{{ path('import') }}">
            <button>
                l'interface d'importation simplifiée
            </button>
        </a>
    </div>
    <hr>
{% endif %}

{% verbatim %}
<!--end messages warning-->
</div>
{% endverbatim %}
