{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sellrecords list</h1>

    <table class="table-responsive table-striped table table-bordered table-light">
        <thead>
        <tr>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sellRecord in sellRecords %}
            <tr>
                <td>
                    <a class="btn btn-primary"
                            href="{{ path('sellrecord_show', { 'date': sellRecord.date }) }}">{{ sellRecord.date }}</a>
                </td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-primary"
                                    href="{{ path('sellrecord_show', { 'date': sellRecord.date }) }}">voir
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-primary"
                                    href="{{ path('sellrecord_edit', { 'date': sellRecord.date }) }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('sellrecord_new') }}">Nouveau sellRecord</a>
        </li>
    </ul>
{% endblock %}
