$brand-primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
html, h1, h2, h3, h4, h5, h6 {
  font-family: Source Sans, Arial, Helvetica, sans-serif;
}

input {
  width: auto;
  min-width: 2em;
}
