{% verbatim %}
    <div id="not_loaded" ng-if="!initLoadDone">
        <div class="well">
         <i class="fa fa-refresh fa-spin fa-3x"></i> Chargement en cours de vos produits
        </div>
    </div>
    {% endverbatim %}
    {% include 'logged/angular/loaded-caisse.html.twig' %}

<div class="choice-categories well" ng-if="categories.length">
    <h2>
        <i class="fa-eye fa"></i>
        Visibilité des catégories
    </h2>

    <div ng-repeat="c in categories"
    >
        <div class="btn btn-block"
             ng-class="{'btn-success': !c.hidden}"
             ng-click="c.hidden = !c.hidden">
            {% verbatim %}    {{ c.name }}
{% endverbatim %}
            <span ng-if="c.hidden">(caché)</span>
        </div>
    </div>

</div>