{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
<div id="wrapper">
    <div id="container" class="container">
        <div id="caisse-now" class="tab-pane fade in active">
            <div class="caisse-main row"
                 ng-app="caisse"
                 ng-controller="CaisseCtrl as MainCtrl"
            >
                <div class="row marged-v">
                    <div class="col-xs-12 col-md-12">
                        <button
                                title="la vente express vous permet d'enregistrer une vente pour un seul article sans remplir le formulaire de détail"
                                class="btn"
                                ng-class="{'btn-success': expressSelling, 'btn-disabled':!expressSelling}"
                                ng-click="expressSelling = !expressSelling">
                            <i class="fa fa-shopping-cart"></i>
                            mode vente express
                            <span ng-if=expressSelling>
                                    <i class="fa fa-check-circle"></i></span>
                        </button>
                        <button
                                title="montrer le nombre d'objets restants dans les stocks"
                                class="btn"
                                ng-class="{'btn-success': show_config.stock_count, 'btn-disabled':!show_config.stock_count}"
                                ng-click="show_config.stock_count = !show_config.stock_count">
                            <i class="fa fa-shopping-cart"></i>
                            stocks
                            <span ng-if=show_config.stock_count>
                                    <i class="fa fa-check-circle"></i></span>
                        </button>
                        <button
                                title="montrer le nombre d'objets restants dans les stocks"
                                class="btn"
                                ng-class="{'btn-success': show_config.sold, 'btn-disabled':!show_config.sold}"
                                ng-click="show_config.sold = !show_config.sold">
                            <i class="fa fa-shopping-cart"></i>
                            vendus
                            <span ng-if=show_config.sold>
                                    <i class="fa fa-check-circle"></i>
                                </span>
                        </button>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="client-now text-right padded">
                            <i class="fa fa-user"></i>
                            Client actuel:
                            {% verbatim %}
                                {{ activeSelling.length }} produit<span ng-if="activeSelling.length!=1">s</span>
                                <div class="input-group pull-right">
                                 <input class="input form-control pull-right " type="text" ng-model="sellingComment" placeholder="nom ou commentaire">

                                    <button type="button" class="pull-right deleter" ng-click="sellingComment = ''">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    </div>
                               <div>


                                {% endverbatim %}
                            {#<button class="btn btn-default" ng-click="sellingComment = 'boobbbbbb'">#}
                            {#<i class="fa fa-arrow-right"></i>#}
                            {#</button>#}
                            {#<button class="btn btn-default"#}
                            {#ng-click="logger(MainCtrl.sellingComment ) ; logger( sellingComment)">#}
                            {#<i class="fa fa-arrow-down"></i>#}
                            {#</button>#}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                {% include 'logged/caisse-main.html.twig' %}
            </div>




                </div>
            </div>
            <div id="categories" class="tab-pane fade">
                <h2>Catégories</h2>
            </div>
            <div id="products" class="tab-pane fade">
                <h2>Produits</h2>
            </div>
            <div id="history" class="tab-pane fade">
                <h2>Historique</h2>
            </div>
            </div>
    </div>
    {#</div>#}
    {#</div>#}

        {% endblock %}
