{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <div id="wrapper">
        <div id="container" class="container">

            <div class="row">
                <h1>Historique</h1>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="sells">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <h2>
                                    <i class="fa fa-users"></i>
                                    <span class="chiffre key-figure">
                                        {{ allSellings |length }}
                                    </span>
                                    Clients
                                </h2>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <h2>
                                    <i class="fa fa-euro"></i>
                                    <span class="chiffre  key-figure">
                                        {{ chiffreAffaires }}
                                    </span>
                                    Chiffre d'affaires

                                </h2>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <h2>
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="chiffre key-figure">
                                        {% if allSellings %}
                                            {{ (chiffreAffaires / (allSellings |length))|round }}
                                        {% else %}
                                            ?
                                        {% endif %}

                                    </span>
                                    € panier moyen

                                </h2>
                            </div>
                        </div>


                        <div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <a class="btn btn-success" href="{{ path('export_all') }}">
                        <i class="fa fa-file-o fa-3x"></i>
                        Exporter toutes vos données en format csv
                    </a>

                </div>
            </div>
            <hr>
            <h2 class="text-center">Statistiques de ventes </h2>
            <div id="chartContainer" style="display: inline-block; height: 300px; width: 49%;"></div>
            <div id="chartContainerChiffreAffaire" style="display: inline-block; height: 300px; width: 49%;"></div>
            <h2> {{ statisticsFestivals |length }} Festival
                {% if  statisticsFestivals |length >1 %}
                    s
                {% endif %}</h2>
            <div id="chartContainerstatisticsFestivals"
                    style="display: inline-block; height: 300px; width: 100%;"></div>


        </div>
    </div>
<div id="last-sellings">
    <h2>
        {{ recentSells |length }} Dernières ventes
    </h2>
    <div class="table">
        <div class="row">
            <div class="col-xs-3">
                date
            </div>
            <div class="col-xs-3">
                commentaire
            </div>
            <div class="col-xs-3">
                produits
            </div>
            <div class="col-xs-3">
                montant
            </div>
        </div>
    </div>
    {% for vente in recentSells %}

        <div class="row">
            <div class="col-xs-3">
                {{ vente.date |date('Y-m-d H:i:s') }}
            </div>
            <div class="col-xs-3">
                {{ vente.comment }}
            </div>
            <div class="col-xs-3">
                {{ vente.productsSold |length }}
            </div>
            <div class="col-xs-3">

                {{ vente.amount }}
                <a href="{{ path('sellrecord_delete',{id: vente.id }) }}"
                        class="btn btn-warning pull-right">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div>

    {% endfor %}
</div>


    {% include ':logged:history-script.html.twig' %}

{% endblock %}
