{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <h1>Importation, création en masse</h1>


    <div class="row">
        <div class="col-xs-6 well">
            {% include 'logged/mass-register.html.twig' %}
        </div>
        <div class="col-xs-6 well">
            <h2>

                Importer votre historique de ventes
            </h2>
            <div class="alert alert-warning">
                <i class="fa fa-warning"></i>
                Fonctionnalité en cours de création
            </div>
            1)
            <a class="btn btn-success" href="{{ asset('modele_import_caisse.csv') }}">
                <i class="fa fa-file-o fa-3x"></i>
                Télécharger le fichier de modèle
            </a>
            <hr>
            2) Remplir votre modèle avec vos ventes
            <hr>
            3) à faire
            {#<form action="{{ path('import') }}" method="post">#}
            {#<fieldset>#}

            {#Importer votre modèle rempli#}
            {#<input disabled type="file" name="fichier_import">#}
            {#<input disabled class="btn btn-primary btn-block" type="submit" value="importer votre historique">#}
            {#</fieldset>#}
            </form>
        </div>
    </div>

{% endblock %}
